@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  body {
    @apply bg-background text-primary;
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
}
